body {
    height: calc(100vh - 100px);
}

#login-form {
    background-color: rgb(231, 218, 218);

    /* Border */
    border: 1px solid gray;
    border-radius: 20px;

    /* Sizing */
    padding: 30px;
    width: fit-content;

    /* Position */
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);

    /* Display */
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.form__row {
    display: flex;
    gap: 30px;
    align-items: center;

    & label {
        font-size: 18px;
    }
    & input {
        font-size: 14px;
        padding: 8px 15px;
        border-radius: 10px;
        outline: none;
        border: 1px solid gray;

        &:focus {
            border: 2px solid gray;
            outline: none;
        }
    }
}

#login-form button {
    font-size: 16px;
    padding: 10px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    background-color: rgb(197, 184, 184);

    &:hover {
        background-color: rgb(159, 148, 148);
        color: white;
    }
}